<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowLastPosition</key>
	<string>{{0, 0}, {1800, 1130}}</string>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va7ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAJABAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABha3NheWthbnRoYW4JAAAAAQEAAERvd25sb2FkcwAAAAwAAAABBgAAEAAAACAAAAA0
	AAAACAAAAAQDAACdRwAAAAAAAAgAAAAEAwAAL4QEAAAAAAAIAAAABAMAAGKEBAAAAAAA
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHHaQCdA1+5GAAAAAECAAACAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQYpPn
	AAAACAAAAAAEAABBx9+ALwAAACQAAAABAQAAMDY4OURFQzAtRkJEMC00NkE3LUE0NTct
	OUQ0RTZCMjgxNTBBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQ
	AACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAACEAQAAAAAAAAUgAAD0AAAAAAAAABAgAAAE
	AQAAAAAAABEgAAA4AQAAAAAAABIgAAAYAQAAAAAAABMgAAAoAQAAAAAAACAgAABkAQAA
	AAAAADAgAADQAAAAAAAAAAHAAADYAAAAAAAAABHAAAAgAAAAAAAAABLAAADoAAAAAAAA
	AAHQAADQAAAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 230.000000, 262.000000, NO, NO</string>
		<string>0.000000, 263.000000, 230.000000, 67.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame IINAWelcomeWindow</key>
	<string>580 365 640 400 0 0 1800 1130 </string>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 83 250 297 0 0 1800 1130 </string>
	<key>PluginEnabled.io.iina.opensub</key>
	<true/>
	<key>PluginEnabled.io.iina.user-script</key>
	<true/>
	<key>PluginEnabled.io.iina.ytdl</key>
	<true/>
	<key>PluginOrder</key>
	<array/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>iinaLastPlayedFilePath</key>
	<string>~/Downloads/2.mp4</string>
	<key>iinaLastPlayedFilePosition</key>
	<real>141.14099999999999</real>
	<key>softVolume</key>
	<real>100</real>
</dict>
</plist>
