<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATelemetry</key>
	<array/>
	<key>KeyboardShortcuts_area</key>
	<string>{"carbonKeyCode":21,"carbonModifiers":768}</string>
	<key>KeyboardShortcuts_fullscreen</key>
	<string>{"carbonKeyCode":20,"carbonModifiers":768}</string>
	<key>KeyboardShortcuts_ocr</key>
	<string>{"carbonKeyCode":19,"carbonModifiers":768}</string>
	<key>LaunchAtLogin__hasMigrated</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va7ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAJABAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABha3NheWthbnRoYW4JAAAAAQEAAERvY3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAA0
	AAAACAAAAAQDAACdRwAAAAAAAAgAAAAEAwAAL4QEAAAAAAAIAAAABAMAAGCEBAAAAAAA
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHHaQCdAz+cGAAAAAECAAACAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQYpPn
	AAAACAAAAAAEAABBx9+ALwAAACQAAAABAQAAMDY4OURFQzAtRkJEMC00NkE3LUE0NTct
	OUQ0RTZCMjgxNTBBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQ
	AACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAACEAQAAAAAAAAUgAAD0AAAAAAAAABAgAAAE
	AQAAAAAAABEgAAA4AQAAAAAAABIgAAAYAQAAAAAAABMgAAAoAQAAAAAAACAgAABkAQAA
	AAAAADAgAADQAAAAAAAAAAHAAADYAAAAAAAAABHAAAAgAAAAAAAAABLAAADoAAAAAAAA
	AAHQAADQAAAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 230.000000, 262.000000, NO, NO</string>
		<string>0.000000, 263.000000, 230.000000, 67.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>Shottr.ObjRectangle: size</key>
	<string>4</string>
	<key>activeAppVersion</key>
	<integer>1090128</integer>
	<key>afterGrabCopy</key>
	<false/>
	<key>afterGrabSave</key>
	<false/>
	<key>afterGrabShow</key>
	<true/>
	<key>allowTelemetry</key>
	<true/>
	<key>altZoomDirection</key>
	<false/>
	<key>alwaysOnTop</key>
	<false/>
	<key>areaCaptureMode</key>
	<string>editor</string>
	<key>areaCustomGrabber</key>
	<false/>
	<key>captureCursor</key>
	<string>auto</string>
	<key>cmdQAction</key>
	<string>quit</string>
	<key>colorFormat</key>
	<string>HEX</string>
	<key>contrastType</key>
	<string>wcag2</string>
	<key>copyOnEsc</key>
	<true/>
	<key>customBackdropColor</key>
	<string>#6080A0</string>
	<key>customGradFrom</key>
	<string>#221448</string>
	<key>customGradTo</key>
	<string>#919BD2</string>
	<key>defaultColor</key>
	<string>#FF0C01</string>
	<key>downscaleOnSave</key>
	<false/>
	<key>enableMagicMouseZoom</key>
	<false/>
	<key>everHidMainWindow</key>
	<true/>
	<key>everVisitedHotkeys</key>
	<true/>
	<key>expandableCanvas</key>
	<true/>
	<key>kc-vault</key>
	<string>PCwwPzoZC0ksHgUHeAYwHCcHPih2Bn5fGwo8BikZBA0sFwUlJVA+YjYeRHViAxk+LwctWn5PbigFJQ1zOxUIGRYXKyMkI34F</string>
	<key>latestBuild</key>
	<integer>128</integer>
	<key>latestVersionCode</key>
	<integer>10901</integer>
	<key>latestVersionPackageUrl</key>
	<string>https://shottr.cc/dl/Shottr-1.9.1.pkg</string>
	<key>latestVersionURL</key>
	<string>https://shottr.cc/newversion.html?utm_source=update_notification</string>
	<key>localEventCounter</key>
	<integer>1396</integer>
	<key>notificationType</key>
	<string>custom</string>
	<key>ocrRemoveBreaks</key>
	<false/>
	<key>preferLargeWindow</key>
	<true/>
	<key>primaryOCRLang</key>
	<string>en-US</string>
	<key>realPixels</key>
	<false/>
	<key>saveFormat</key>
	<string>Auto</string>
	<key>saveOnEsc</key>
	<false/>
	<key>scrollingManualEnabled</key>
	<false/>
	<key>scrollingMax</key>
	<integer>20000</integer>
	<key>scrollingReverseAutoscroll</key>
	<false/>
	<key>scrollingSpeed</key>
	<integer>2</integer>
	<key>snappingMode</key>
	<integer>2</integer>
	<key>thumbnailClosing</key>
	<string>manual</string>
	<key>token</key>
	<string></string>
	<key>uid</key>
	<string>2ktayppt-c583</string>
	<key>uploadMode</key>
	<string>none</string>
	<key>uploadS3Bucket</key>
	<string></string>
	<key>uploadS3Endpoint</key>
	<string></string>
	<key>uploadS3Prefix</key>
	<string></string>
	<key>uploadS3PresignExpiration</key>
	<integer>604800</integer>
	<key>uploadS3PublicUrl</key>
	<string></string>
	<key>uploadS3Region</key>
	<string></string>
	<key>uploadS3SharingMode</key>
	<string>none</string>
	<key>windowShadow</key>
	<string>transparent</string>
	<key>windowSolidColor</key>
	<string>#404448</string>
</dict>
</plist>
